<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	<link rel="stylesheet" href="form.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-push-1">
				<h3>Add test form</h3>
				<div class="add-test-container">
					<input type="text">
					<div class="add-sections-container">
						<div class="section fill-blanks">
							<input type="text">
							<textarea name="text">
								Fish live in ###. Tiger is an ###
							</textarea>
							<p>Mark blanks with ### parameter. They are numbered automatically. Add respective answers below</p>

							<div class="add-answers-container">
								<div class="answer">
									<div class="counter">1</div>
									<input type="text" value="water">
								</div>
								<div class="answer">
									<div class="counter">2</div>
									<input type="text" value="animal">
								</div>
								<div class="btn-group">
									<button class="btn btn-default">Add Answer</button>
								</div>
							</div>
						</div>
						<div class="section ordinary">
							<div class="question">
								<textarea>
									Which number is the biggest?
								</textarea>
								<div class="add-answers-container">
									<div class="answer">
										<div class="counter">1</div>
										<input type="text" value="56">
									</div>
									<div class="answer">
										<div class="counter">2</div>
										<input type="text" value="12/13">
									</div>
									<div class="btn-group">
										<button class="btn btn-default">Add Answer</button>
									</div>
								</div>
							</div>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Add question</button>
								<ul class="dropdown-menu">
									<li><a href=""></a>Single answer</li>
									<li><a href=""></a>Multiple choice</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle">Add section</button>
					<ul class="dropdown-menu">
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>	
</html>