<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="fonts.css">
	<link rel="stylesheet" href="app.css">
</head>
<body>
	<nav>
		<div class="menu">
			<ul>
				<li><img src="images/logo.svg"></li>
				<li><a href="">Home</a></li>
				<li><a href="">Tests</a></li>
				<li><a href="">Audience</a></li>
				<li><a href="">Analytics</a></li>
			</ul>
		</div>
		<div class="arrow"></div>
		<span class="user-info"><a href="" class="user"></a><a href="" class="logout"></a></span>
	</nav>
	<div class="app-body">
		<div class="row">
			<div class="blocks">
				<h2>Recent tests</h2>
				<div class="block">
					<h3>Lead management</h3>
					<p>60% pass</p>
				</div>
				<div class="block">
					<h3>English spelling (US version)</h3>
					<p>97% pass</p>
				</div>
			</div>
			<div class="blocks">
			<h2>Group performance</h2>
				<div class="block">
					<h2>Sales team</h2>
					<div class="rate">
						<div class="stars">RRRRR</div>
						<div class="p">4.97/5.00</div>
					</div>
					<div class="out-of">out of 7 tests</div>
				</div>
				<div class="block">
					<h2>Service desk team</h2>
					<div class="rate">
						<div class="stars">RRRRЯ</div>
						<div class="p">4.21/5.00</div>
					</div>
					<div class="out-of">out of 12 tests</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>