<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="fonts.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
	<div class="logo"><span><img src="images/logo.svg"></img>Theta<span class="light">Test</span></span></div>
	<div class="auth"><span><a href="">sign up</a> <span class="light">or</span> <a href="">log in</a></span></div>
</nav>
<div class="header">
	<div class="jumbo">
		<h1>Now we are ready to start</h1>
		<p><strong>ThetaTest</strong> allows you to create test of any kind, subscribe your audience and analyse results. Create your own test right now and see how simple it is</p>
		<a href="" class="button">Get Started</a>
	</div>
	<div class="img"><img src="images/header-image.svg" alt=""></div>
</div>
<div class="row">
	<div class="img"><img src="images/second-image.svg" alt=""></div>
	<div class="jumbo">
		<h1>Take it easy, make<br>your test work on you</h1>
		<p>Do not worry about papers and assessment. Create test forms, monitor stages and iterate your test for different groups.</p>
	</div>
</div>
<div class="reg-row">
	<div class="reg-form">
		<h2>Sign up for free</h2>
		<p><label>1. My name is </label><input type="text"><label>.</label></p>
		<p><label>2. </label><input type="text"><label> is my E-Mail.</p>
		<p><label>3. Field of use</label> 
		<select>
			<option value="1">Educational</option>
			<option value="2">Commercial</option>
			<option value="3">Individual use</option>
		</select>
		<label>.</label>
		</p>
		<div class="center"><a href="" class="button">Submit</a></div>
	</div>
	</div>
</div>
<footer>
	<ul>
		<li><a href="">About</a></li>
		<li><a href="">Donate</a></li>
		<li><a href="">Terms of use</a></li>
		<li><a href="">Privacy Policy</a></li>
	</ul>
</footer>
</body>
</html>