$superblue: #216589;
$misterwhite: #f9f9f9;
$meninblack: #111;
$grayishblack: #333;
$slightlygrey: #888;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

a, a:hover {
    color: $meninblack;
    text-decoration: none;
}

body {
    color: $meninblack;
    font-family: "Open Sans";
    font-weight: normal;
    background: $misterwhite;

    .overlay {
        text-align: center;
        padding-top: 100px;

        span {
            color: $superblue;
        }
    }

    .nav {
        height: 100px;
        line-height: 100px;
        background: $superblue;
        font-size: 30px;
        padding: 0 130px;

        a, a:hover, a:focus, a:visited, span {
            color: $misterwhite;
        }

        .menu {
            float: left;
            position: relative;

            img {
                height: 1em;
                position: absolute;
                top: 35px;
            }

            ul {
                margin-left: 45px;

                li {
                    float: left;
                    margin-right: 35px;
                }

                a.active {
                    font-weight: bold;
                }
            }
        }

        .user-info {
            float: right;

            span {
                margin-right: 35px;
            }

            .logout {
                cursor: pointer;
            }
        }
    }

    .home {
        .block {
            background-color: $superblue;
            color: $misterwhite;
            margin-bottom: 45px;
            height: 90px;

            &:hover {
                cursor: pointer;
                top: -1px;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
                transition: .1s box-shadow linear;
            }

            p {
                font-size: 16px;
            }
        }

        .group-performance {
            h3 {
                display: inline-block;
                max-width: 40%;
            }

            .rate, .out-of {
                margin: 20px 20px 0 20px;
                float: right;
                text-align: center;
            }

            .rate {
                font-size: 20px;

                .glyphicon-star {
                    &.half {
                        position: relative;

                        &:before {
                            position: relative;
                            z-index: 9;
                            width: 43%;
                            display: block;
                            overflow: hidden;
                        }

                        &:after {
                            content: '\e007';
                            position: absolute;
                            z-index: 8;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }

            .out-of {
                font-size: 18px;
                font-weight: bold;
                width: 70px;
            }
        }
    }

    .all-tests-list {
        .tests-table {
            font-size: 120%;

            tr {
                &:hover, .controls span {
                    cursor: pointer;
                }

                .tests-table-actions {
                    width: 10%;
                }

                .controls span {
                    font-size: 20px;
                    margin: 5px;

                    &:hover {
                        opacity: .8;
                    }

                    &.glyphicon-remove {
                        color: rgb(167, 0, 0);
                    }
                }
            }
        }
    }

    .cool-inputs {
        input[type=text],
        input[type=email],
        textarea {
            padding-top: 10px;
        }

        .form-group {
            position: relative;
        }

        .cool-overlay {
            position: absolute;
            transition: all .3s ease-in-out;
            padding: 3px 5px 0;
            box-shadow: 0 0 3px 1px white;
            pointer-events: none;
            display: none;
            left: 10px;
            z-index: 3;
        }

        input + .cool-overlay,
        textarea + .cool-overlay {
            position: absolute;
            top: 4px;
            font-size: 14px;
            color: #777;
            display: block;
        }

        input + .cool-overlay.out,
        input:focus + .cool-overlay,
        textarea + .cool-overlay.out,
        textarea:focus + .cool-overlay {
            position: absolute;
            top: -12px;
            font-size: 13px;
            color: #222;
            background: white;
            font-weight: 600;
        }

        input:focus + .cool-overlay,
        textarea:focus + .cool-overlay {
            color: #66afe9;
        }
    }

    .add-test-container, .exam-test-container {
        .section {
            margin: 30px 0;
            padding: 15px 20px;
            background-color: white;
            border-left: 4px solid $superblue;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
            position: relative;
        }

        .question {
            margin: 20px 0;
            padding: 15px;
            background-color: #fefaf3;
            border-left: 4px solid #fea82a;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
            position: relative;

            textarea {
                resize: vertical;
            }
        }

        .answer {
            position: relative;

            .delete-sign {
                top: 3px;
            }

            .form-group {
                width: calc(100% - 40px);
            }

            .form-control {
                width: 100%;
            }

            .checkbox-inline, .radio-inline {
                width: 100%;
            }
        }

        .submitTest {
            text-align: center;

            button {
                margin-top: 20px;
            }
        }
    }

    .add-test-container {
        padding: 20px 0;

        .form-group {
            position: relative;
        }

        .delete-sign {
            position: absolute;
            top: 16px;
            right: 13px;
            font-size: 20px;
            color: $slightlygrey;
            z-index: 5;
            cursor: pointer;

            &:hover {
                color: $grayishblack;
            }
        }

        .form-control {
            width: calc(100% - 20px);
        }
    }

    .audience-page {
        .btn-add-audience {
            float: right;
        }

        .audience-block {
            background: white;
            border-left: 3px solid $superblue;
            padding: 0 20px 15px;
            margin: 10px 0;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.25);

            .delete-audience, .delete-test-taker {
                display: inline-block;
                background: white;
                padding: 0 6px;
                border-radius: 0.6em;
                border: none;
                box-shadow: 2px 2px 3px rgba(0,0,0,0.45);
                float: right;

                &:hover {
                    box-shadow: 2px 2px 6px rgba(0,0,0,0.35);
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }

            .delete-test-taker {
                margin-left: 20px;
                float: none;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.45);

                &:hover {
                    background: #eeeeee;
                    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
                }
            }
        }

        .audience-block:nth-child(2n) {
            border-left: 3px solid #1a8bcb;
        }

        .test-taker-block {
            padding: 2px;

            .test-taker-name {
                font-weight: bold;
            }
        }
    }
}
